@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.dancing-script-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}



/* default style  start------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
 
}

.container {
 
  margin: 0 auto;
  background: #000000;
}

.header-of-container {

  margin: 0 auto;

}

/* default style end-----------------*/

/* nav start -------------------------------- */
.nav-bar {

  display: flex;
  justify-content: space-around;
  padding: 3rem 0;

}

.logo-name em {
  color: #e6533c;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;

}

.menu {
  border: solid rgba(25, 25, 25, 1);

  color: #fff;
  display: flex;
  padding: 0.1rem 0.2rem;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  border-radius: 3rem;
}

.menu .home {
  border: none;
  outline: none;
  background: #e6533c;
  padding: 0.7rem 1.5rem;
  border-radius: 3rem;
  text-align: center;
}

.menu :nth-child(4) {
  padding-right: 1rem;
}

/* nav end--------------------------- */

/* main-of-header start here--------------- */
.main-of-header {
  color: #fff;
  display: grid;
  grid-template-columns: auto auto;


  justify-content: space-around;


}

.left-sec {

  padding: 3rem 0rem 2rem 6rem;

}

.left-sec h1 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
}

.left-sec span {
  font-family: "Dancing Script", cursive;

}

.left-sec p {
  opacity: 0.5;
  font-weight: 100;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.left-sec .buttons button {

  color: #fff;
  padding: 1rem 3rem;
  margin: 1.5rem 1.5rem 0.5rem 0;
  border: none;
  outline: 0;
  border-radius: 3rem;

}

/* ----(btn,p,span)end of.left-sec---------------------- */
.right-sec {
  position: relative;
  padding: 1rem 6rem 2rem 0rem;
  margin-right: 1rem;


}

.right-sec img {
  margin-right: -6rem;
}

.img-top-right {
  border-radius: 0.3rem;
  position: absolute;
  top: 11rem;
  right: 0.1rem;
  padding: 0.3rem 0.7rem;
  background-color: rgba(255, 255, 255, 0.2);

  backdrop-filter: blur(4px);
}

.img-top-right strong {
  font-size: 2.5rem;
}

.img-top-right p {
  font-size: 0.7rem;
  opacity: 0.5;
}

/* ---(strong,p)end of .img-top-right--------------------------- */
.img-bottom-left {
  position: absolute;
  top: 29rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  padding: 0.3rem 0.9rem 0.3rem 2.5rem;
  border-radius: 0.3rem;

}

.img-bottom-left b {
  font-size: 1.7rem;
}

.img-bottom-left p {
  font-size: 0.7rem;
  opacity: 0.8;
}

.img-bottom-left .play-icon {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-image: url(./other-icon/play.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0.8rem;
  left: 0.3rem;
}

/* main-of-header end here-------------------- */

/* ************************************************* */

/* main of container start here---------------- */
.main-of-container {

  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
}

/* change-your-habits section start------------ */
.change-your-habits {
  display: grid;
  grid-template-rows: auto auto auto;

  justify-content: center;

}

.change-your-habits .heading {

  color: #fff;

  margin: 3rem 0rem 1rem;
}

.change-your-habits .heading h2 {

  font-size: 2.5rem;
  text-align: center;
}

.change-your-habits .heading p {

  font-size: 0.8rem;
  opacity: 0.5;
  line-height: 1rem;
  font-weight: 100;
  text-align: center;
}

/* ----(h2,p)end of .heading---------------------------------------------*/
.change-your-habits .img-title-container {

  color: #fff;
  display: flex;
  justify-content: center;
  margin: 4rem 0rem 2rem;
}

.change-your-habits .img-title-container .content-1 img {
  display: block;

  border-radius: 50%;
  margin: 0.5rem auto;


}

.change-your-habits .img-title-container .content-1 b {
  display: block;
  text-align: center;
}

.change-your-habits .img-title-container .content-1 p {
  text-align: center;
  padding: 0.5rem 0.4rem;
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: 100;
}

/* ----(img,b,p)end of .content-1--------------------------------------------- */
.change-your-habits .img-title-container .content-2 img {
  display: block;

  border-radius: 50%;
  margin: 0.5rem auto;

}

.change-your-habits .img-title-container .content-2 b {
  display: block;
  text-align: center;
}

.change-your-habits .img-title-container .content-2 p {
  text-align: center;
  padding: 0.5rem 0.4rem;
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: 100;
}

/* ---(img,b,p)end of .content-2---------------------------------------------- */
.change-your-habits .img-title-container .content-3 img {
  display: block;

  border-radius: 50%;
  margin: 0.5rem auto;

}

.change-your-habits .img-title-container .content-3 b {
  display: block;
  text-align: center;
}

.change-your-habits .img-title-container .content-3 p {
  text-align: center;
  padding: 0.5rem 0.4rem;
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: 100;
}

/*--(img,b,p)end of .content-3-------------------------------------------------- */
.change-your-habits .img-title-container .content-4 img {
  display: block;

  border-radius: 50%;
  margin: 0.5rem auto;

}

.change-your-habits .img-title-container .content-4 b {
  display: block;
  text-align: center;
}

.change-your-habits .img-title-container .content-4 p {
  text-align: center;
  padding: 0.5rem 0.4rem;
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: 100;
}

/*--(img,b,p)end of .content-4--------------------------------------------------- */
.change-your-habits .card {

  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 5rem 0rem 2rem;
  background: #232323;
  border-radius: 2rem;
}

.change-your-habits .card .description {
  text-align: left;
  margin: 3rem 0 2rem 5rem;
}

.change-your-habits .card .description h2 {
  padding: 0.5rem 0;
  font-weight: 700;
  font-size: 2.5rem;
}

.change-your-habits .card .description p {
  margin: 0.5rem 0;
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: 100;
}

.change-your-habits .card .description button {
  color: #fff;
  padding: 1rem 4rem;
  margin: 2rem 0 2rem 0;
  border: none;
  outline: 0;
  border-radius: 3rem;
  background: #e6533c;
}

/* ----(h2,p,button)end of.description------------------ */
.change-your-habits .card .img {
  width: 30%;
  background-image: url(./images/run.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 1rem;
  margin: 2.5rem;
}

/* change-your-habits section end------------ */

/* bmi-calculator section start------------ */
.bmi-calculator {
 
  display: grid;
  grid-template-rows: auto auto;

  
}

.bmi-calculator
 .title-description {
 
  margin: 3rem auto;
  
}

.bmi-calculator
 .title-description h2 {
  font-size: 2.5rem;
  text-align: center;
  color: #fff;

}

.bmi-calculator 
.title-description p {
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  opacity: 0.5;
  line-height: 1rem;
  font-weight: 100;
}

/* ---(h2,p)end of.title-description----------------------------------------- */
.bmi-calculator 
.chart-container {
 
 
  display: flex;
   justify-content: space-between;
   padding-left:2rem;
  background: #232323;


}

.bmi-calculator 
.chart-container .chart {


  margin: 3rem 0 2rem 7rem;

}

.bmi-calculator .chart-container .chart table caption {
  padding: 0.5rem 0rem;
  font-weight: 800;
  font-size: 1.5rem;
  color: #fff;
}

.bmi-calculator .chart-container .chart table,
th {
  padding: 1rem 3.5rem;
  border: solid rgb(255, 255, 255, 0.2);
  border-collapse: collapse;
  color: rgb(255, 255, 255, 0.7);

}

.bmi-calculator .chart-container .chart td {
  padding: 1rem 2.5rem;
  font-weight: 100;
  font-size: 0.8rem;
  opacity: 0.5;
  border: solid rgb(255, 255, 255, 0.2);

}

/* --(table)end of .chart------------------------------------------ */
.bmi-calculator .chart-container .calculator {
  margin: 3rem 5rem 2rem 0rem;

}

.bmi-calculator .chart-container .calculator h3 {
  padding: 0.4rem;
  font-weight: 800;
  font-size: 1.6rem;
  color: #fff;
}

.bmi-calculator .chart-container .calculator p {
  margin: -0.4rem 0.5rem 1rem;
  font-size: 0.9rem;
  opacity: 0.5;
  line-height: 1rem;
  font-weight: 100;
  color: #fff;

  /*--(h3,p)end of .calculator-----------------------------------------------  */
}

.bmi-calculator .chart-container .calculator .input input {
  padding: 1rem 3rem 1rem 1rem;
  margin: 0.5rem;
  border: none;
  outline: 0;
  border-radius: 0.5rem;

  background: rgb(255, 255, 255, 0.2);
}

.bmi-calculator .chart-container .calculator .input input::placeholder {
  color: #000000;
}

.bmi-calculator .chart-container .calculator .input [name="gender"] {
  padding: 1rem 10.5rem 1rem 1.9rem;
  margin: 0.5rem;
  border: none;
  outline: 0;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.2);

  font-size: 0.9rem;
}

.bmi-calculator .chart-container .calculator .input [name="activities"] {
  padding: 1rem 19.3rem 1rem 2.2rem;
  margin: 0.5rem;
  border: none;
  outline: 0;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.2);

  font-size: 0.9rem;
}

.bmi-calculator .chart-container .calculator button {
  color: #fff;
  padding: 1rem 4rem;
  margin: 2rem 0.4rem;
  border: none;
  outline: 0;
  border-radius: 3rem;
  background: #e6533c;
}

/* bmi-calculator section end------------ */


/* meet-our-team section start------------ */
.meet-our-team {


  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.meet-our-team .title-des h2 {
  font-size: 2.5rem;
  margin: 2rem 1rem;

}

.meet-our-team .title-des p {

  margin: 1rem 1rem;
  font-size: 0.8rem;
  opacity: 0.5;
  line-height: 1rem;
  font-weight: 100;
}

/*--(h2,p)end of .title-des---------------------------------------------------  */

.meet-our-team .identity-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin: 3rem 2rem;
  padding: 2rem;
  background: #232323;
  border-radius: 1rem;


}

.meet-our-team .identity-img div {
 

  margin: 1rem 0.5rem;
  position: relative;

}

.meet-our-team .identity-img img {

  width: 23rem;
  height: 23rem;
  border: none;
  border-radius: 1rem;

}



.meet-our-team .identity-img strong {
  position: absolute;
  top: 20rem;
  left: 3rem;


}

.meet-our-team .identity-img p {
  position: absolute;
  top: 21rem;
  left: 3rem;
  opacity: 0.6;

}

/* meet-our-team section end------------ */

/* uniq-section start--------------------- */
 .all-of-uniq{
 
 }
 .all-of-uniq
 .all-card{
  display:flex; 
   justify-content: center;
   padding: 2rem 0;
 
 }
 .all-of-uniq .uniq-heading h2{
     color:#fff;
     text-align: center;
     font-size:2.5rem;
     /* margin-bottom:3rem; */
 }
  /* card-1 start------------------------------------------ */
 .all-of-uniq
 .card-1{
    width:20%; 
    margin: 3rem 2rem; 
    background: #232323;
    text-align:center;
    border:0.5px solid #e6533c;
    border-radius: 1rem;
 }
 .all-of-uniq
 .card-1 img {
    width:30%;
    border-radius: 50%;
    padding:1rem;
    margin-top:1rem;
     
 }
 .all-of-uniq
 .card-1 h3{
  color:#fff;
  
 }
 .all-of-uniq
 .card-1 b{
  color:#fff;
  opacity:0.5;
  font-weight: 500;
  line-height:2rem;
 }
 .all-of-uniq
 .card-1 p{

  color:#fff;
  font-weight:200;
  opacity:0.3;
  font-size:.8rem;
   
   margin: 2rem ;
 }
 .all-of-uniq
 .card-1
 span i{
  color:#e6533c;

  font-size:1.2rem;
 }

 /* card-1-end-------------------------------------------- */

 /* card-2 start----------------------------------- */
 .card-2{
  width:20%; 
  margin: 3rem 2rem; 
  background: #232323;
  text-align:center;
  border:0.5px solid #e6533c;
  border-radius: 1rem;
}
.all-of-uniq
.card-2 img {
  width:30%;
  border-radius: 50%;
  padding:1rem;
  margin-top:1rem;
   
}
.all-of-uniq
.card-2 h3{
color:#fff;

}
.all-of-uniq
.card-2 b{
color:#fff;
opacity:0.5;
font-weight: 500;
line-height:2rem;
}
.all-of-uniq
.card-2 p{

color:#fff;
font-weight:200;
opacity:0.3;
font-size:.8rem;
 
 margin: 2rem ;
}
.all-of-uniq
.card-2
span i{
color:#e6533c;

font-size:1.2rem;
}

 /* card-2 end--------------------------------- */

 /* card-3 start------------------------------- */
     
 .card-3{
  width:20%; 
  margin: 3rem 2rem; 
  background: #232323;
  text-align:center;
  border:0.5px solid #e6533c;
  border-radius: 1rem;
}
.all-of-uniq
.card-3 img {
  width:30%;
  border-radius: 50%;
  padding:1rem;
  margin-top:1rem;
   
}
.all-of-uniq
.card-3 h3{
color:#fff;

}
.all-of-uniq
.card-3 b{
color:#fff;
opacity:0.5;
font-weight: 500;
line-height:2rem;
}
.all-of-uniq
.card-3 p{

color:#fff;
font-weight:200;
opacity:0.3;
font-size:.8rem;
  
 margin: 2rem ;
}
.all-of-uniq
.card-3
span i{
color:#e6533c;

font-size:1.2rem;
}

 /* card-3 end--------------------------------------- */

 /* card-4 start---------------------------------------- */
 .card-4{
  width:20%; 
  margin: 3rem 2rem; 
  background: #232323;
  text-align:center;
  border:0.5px solid #e6533c;
  border-radius: 1rem;
}
.all-of-uniq
.card-4 img {
  width:30%;
  border-radius: 50%;
  padding:1rem;
  margin-top:1rem;
   
}
.all-of-uniq
.card-4 h3{
color:#fff;

}
.all-of-uniq
.card-4 b{
color:#fff;
opacity:0.5;
font-weight: 500;
line-height:2rem;
}
.all-of-uniq
.card-4 p{

color:#fff;
font-weight:200;
opacity:0.3;
font-size:.8rem;
  
 margin: 2rem ;
}
.all-of-uniq
.card-4
span i{
color:#e6533c;

font-size:1.2rem;
}
 /* card-4 end--------------------------------------- */

 /* uniq-section end------------------------ */

/* main of container edd here------------------- */

/* ************************************************ */

/* footer-of-container start-------------------- */
.footer-of-container {

  background: #232323;
  margin: 2rem auto 0rem;

}

.footer-of-container .all-of-footer {



  display: flex;
   


}

.footer-of-container .all-of-footer .Part-1 {

  margin: 0.5rem 0;

}

.footer-of-container .all-of-footer .Part-1 h3 {
  font-size: 2rem;
  padding: 1rem 0rem 1rem 9rem;
  color: #e6533c;

}

.footer-of-container .all-of-footer .Part-1 p {
  padding: 1rem 0rem 1rem 9rem;
  color: rgb(255, 255, 255, 0.2);
  line-height: 1.5rem;

}

/* --(h3,p)end of.part-1---------------------------------------------------- */
.footer-of-container .all-of-footer .Part-2 {

  margin: 0.5rem 0;

}

.footer-of-container .all-of-footer .Part-2 h3 {
  font-size: 1.5rem;
  padding: 1rem 5rem 1rem 3rem;
  color: #fff;
}

.footer-of-container .all-of-footer .Part-2 p {
  padding: 1rem 0rem 1rem 3rem;
  color: rgb(255, 255, 255, 0.2);
  line-height: 1.5rem;
}

/* --(h3,p)end of.part-2----------------------------------------------- */
.footer-of-container .all-of-footer .Part-3 {

  margin: 0.5rem 0;

}

.footer-of-container .all-of-footer .Part-3 h3 {
  font-size: 1.5rem;
  padding: 1rem 5rem 1rem 1rem;
  color: #fff;
}

.footer-of-container .all-of-footer .Part-3 p {
  padding: 1rem 5rem 1rem 1rem;
  color: rgb(255, 255, 255, 0.2);
  line-height: 1.5rem;
}

/* ---(h3,p)end of.part-3-------------------------------------------- */
.footer-of-container hr {

  margin: 0 4rem 2rem;
  background: #fff;
  opacity: 0.5;
}

.footer-of-container .last-p {
  color: #fff;
  margin: 2rem auto;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 1.1rem;
  opacity: 0.5;

}

/* footer-of-container end ----------------------- */

/* ************************************************** */

/* FOR MOBILE */

@media only screen and (max-width: 576px) {
   .container{
     margin: 0 auto;
     padding: 0 1rem;
     overflow: hidden;
   }

  /* nav start -------------------------------- */


  .nav-bar {
    display: flex;
    gap:5rem;
    padding-bottom: 1.5rem;
  }

  .logo-name em {
    margin-left:0;


  }

  .menu {

    background-image: url(./other-icon/icons8-menu-30.png);
    background-repeat: no-repeat;
    border: none;
    background-position: center;
    padding:1rem 0.7rem;
    

  }

  .menu li {
    display: none;

  }



  /* nav end--------------------------- */


  /* main-of-header start here--------------- */
  .main-of-header {
    color: #fff;
    display: grid;
    grid-template-columns: auto;
    margin: 0rem 1.8rem;

  }

  .left-sec {
    padding: 0rem;

  }

  .left-sec h1 {
    font-size: 3rem;

  }

  .left-sec span {
    padding-left: 0.3rem;
  }

  .left-sec p {
    opacity: 0.5;
    font-weight: 300;
    margin-bottom: 0.5rem;
  }

  .left-sec .buttons {
    display: flex;
  }

  .left-sec .buttons button {
    padding: 0.6rem 1.5rem;



  }

  .right-sec {
    position: relative;
    padding: 0rem;
    margin: 0rem 4rem;


  }

  .right-sec img {
    height: 30rem;
    margin-left: -3rem;
  }

  .img-top-right {
    position: absolute;
    top: 7rem;
    right: -5rem;
    
  }

  .img-top-right strong {
    font-size: 2rem;
  }

  .img-bottom-left {
    position: absolute;
    top: 22rem;
    left: -5rem;
    padding: 0.3rem 1rem 0.3rem 2.3rem;


  }

  .img-bottom-left b {
    font-size: 1.5rem;
  }


  /* main-of-header end here-------------------- */
  /* **************************************************** */
  /* main-of-container start here------------------------- */


  /* change-your-habits section start------------ */
  .change-your-habits {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;

  }

  .change-your-habits .heading {
    margin: 3rem auto;
  }

  .change-your-habits .heading h2 {

    font-size: 2rem;

  }

  .change-your-habits .heading p {

    padding: 0.5rem 0;
    font-size: 0.7rem;
    opacity: 0.7;


  }

  /* ----(h2,p)end of .heading---------------------------------------------*/
  .change-your-habits .img-title-container {
    flex-direction: column;
    margin: 0 auto;
  }

  .change-your-habits .img-title-container .content-1 img {

    margin: 1rem auto;


  }


  .change-your-habits .img-title-container .content-1 p {

    padding: 0.5rem auto;
    opacity: 0.7;

  }

  /* ----(img,b,p)end of .content-1--------------------------------------------- */
  .change-your-habits .img-title-container .content-2 img {

    margin: 1rem auto;

  }


  .change-your-habits .img-title-container .content-2 p {

    padding: 0.5rem auto;

    opacity: 0.7;

  }

  /* ---(img,b,p)end of .content-2---------------------------------------------- */
  .change-your-habits .img-title-container .content-3 img {

    margin: 1rem auto;

  }



  .change-your-habits .img-title-container .content-3 p {

    padding: 0.5rem auto;
    opacity: 0.7;

  }

  /*--(img,b,p)end of .content-3-------------------------------------------------- */
  .change-your-habits .img-title-container .content-4 img {

    margin: 1rem auto;

  }


  .change-your-habits .img-title-container .content-4 p {

    padding: 0.5rem auto;

    opacity: 0.7;

  }

  /*--(img,b,p)end of .content-4--------------------------------------------------- */
  .change-your-habits .card {

    justify-content: center;
    flex-direction: column;
    margin: 3rem auto;
    width: 99%;

  }

  .change-your-habits .card .description {
    text-align: center;
    margin: 1rem auto;
  }

  .change-your-habits .card .description h2 {

    font-size: 2rem;
  }

  .change-your-habits .card .description p {
    width: 91%;
    opacity: 0.7;
    margin: 0 auto;


  }

  .change-your-habits .card .description button {


    margin: 1rem 0;
    padding: 0.6rem 2.5rem;


  }

  /* ----(h2,p,button)end of.description------------------ */
  .change-your-habits .card .img {
    height: 14rem;
    margin: -0.5rem auto 2rem;
    width: 90%;





  }

  /* change-your-habits section end------------ */


  /* bmi-calculator section start------------ */
  .bmi-calculator {
  
    margin: 0 auto;
    grid-template-columns: auto;
     

  }

  .bmi-calculator .title-description {

    margin: 0rem auto;

  }

  .bmi-calculator .title-description h2 {
    font-size: 2rem;


  }

  .bmi-calculator .title-description p {

    margin: 0.5rem auto;
    width: 91%;


  }

  /* ---(h2,p)end of.title-description----------------------------------------- */
  .bmi-calculator .chart-container {
    width: 99%;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding:0;


  }

  .bmi-calculator .chart-container .chart {
    margin: 1rem auto;

  }

  .bmi-calculator .chart-container .chart table caption {
    margin: 0 auto;
    text-align: center;
    font-size: 1.3rem;

  }

  .bmi-calculator .chart-container .chart table,
  th {
    padding: 0.8rem 0rem;


  }

  .bmi-calculator .chart-container .chart td {
    padding: 1rem 1.5rem;


  }

  /* --(table)end of .chart------------------------------------------ */
  .bmi-calculator .chart-container .calculator {
    margin: 0.5rem auto;
    text-align: center;
  }

  .bmi-calculator .chart-container .calculator h3 {
    text-align: center;

    font-size: 1.3rem;

  }

  .bmi-calculator .chart-container .calculator p {
    margin:0 auto;
    font-size: 0.8rem;
    opacity: 0.7;
    width: 91%;

    /*--(h3,p)end of .calculator-----------------------------------------------  */
  }

  .bmi-calculator .chart-container .calculator .input {
    text-align: center;


  }

  .bmi-calculator .chart-container .calculator .input input {
    width: 45%;
    padding: 0.8rem 0;
    margin: 0.5rem auto;

  }

  .bmi-calculator .chart-container .calculator .input input::placeholder {
    padding-left: 0.5rem;
  }

  .bmi-calculator .chart-container .calculator .input [name="gender"] {
    padding: 0.8rem 0.1rem;
    width: 45%;
    margin: 0.5rem auto;

  }

  .bmi-calculator .chart-container .calculator .input [name="activities"] {
    width: 91%;
    padding: 0.8rem 0;
    margin: 0.5rem auto;


  }

  .bmi-calculator .chart-container .calculator button {

    margin: 2rem auto;
    padding: 0.6rem 2.5rem;

  }

  /* bmi-calculator section end------------ */


  /* meet-our-team section start------------ */

  .meet-our-team {

   
    margin: 0 auto;

  }

  .meet-our-team .title-des h2 {
    font-size: 2rem;
    margin: 2rem auto;

  }

  .meet-our-team .title-des p {

    margin: -1.5rem auto;
    width: 91%;
  }

  /*--(h2,p)end of .title-des---------------------------------------------------  */


  .meet-our-team .identity-img {
 
    grid-template-columns: auto;
    margin: 3rem auto;
    padding: 1rem 0.5rem;
    width: 99%;

  }





 .meet-our-team .identity-img img {

  width: 96%;
  margin: 0.5rem auto;


}

/* meet-our-team section end------------ */


/* uniq-section start--------------------- */
.all-of-uniq{
 
}
.all-of-uniq
.all-card{
 display:flex; 
 flex-direction:column;
  justify-content: center;
  padding: 0 1rem;
  
}
.all-of-uniq .uniq-heading h2{
   
    font-size:2rem;
     margin-bottom: 2rem;
}

 /* card-1 start------------------------------------------ */
.all-of-uniq
.card-1{
   width:95%; 
   margin:0 auto 4rem;

}
.all-of-uniq
.card-1
img{
  margin:1rem auto;
}
.all-of-uniq
.card-1
p{
  font-size:0.8rem;
   margin: 0.5rem 1rem ;
}
.all-of-uniq
.card-1 
 span i{

 padding: 2rem 0;

}

/* card-1-end-------------------------------------------- */

/* card-2 start------------------------------------------ */
.all-of-uniq
.card-2{
  width:95%; 
  margin:0 auto 4rem;

}
.all-of-uniq
.card-2
img{
  margin:1rem auto;
}
.all-of-uniq
.card-2
p{
  font-size:0.8rem;
   margin: 0.5rem 1rem ;
}
.all-of-uniq
.card-2 
 span i{

 padding: 2rem 0;

}
/* card-2-end-------------------------------------------- */

/* card-3 start------------------------------------------ */
.all-of-uniq
.card-3{
  width:95%;  
  margin:0 auto 4rem;

}
.all-of-uniq
.card-3
img{
  margin:1rem auto;
}
.all-of-uniq
.card-3
p{
  font-size:0.8rem;
   margin: 0.5rem 1rem ;
}
.all-of-uniq
.card-3
span i{

 padding: 2rem 0;

}
/* card-3-end-------------------------------------------- */

/* card-4 start------------------------------------------ */
.all-of-uniq
.card-4{
  width:95%; 
  margin:0 auto 4rem;

}
.all-of-uniq
.card-4
img{
  margin:1rem auto;
}
.all-of-uniq
.card-4
p{
  font-size:0.8rem;
   margin: 0.5rem 1rem ;
}
.all-of-uniq
.card-4
span i{

 padding: 2rem 0;

}
/* card-4-end-------------------------------------------- */


/* main-of-container end here--------------------- */


/* footer-of-container start-------------------- */
.footer-of-container {

 
  padding: 0.1rem 0;

}

.footer-of-container .all-of-footer {
  width:99%;
  flex-direction: column;
   margin: 0 auto;
}

.footer-of-container .all-of-footer .Part-1 {

  margin: 0.5rem auto;

}

.footer-of-container .all-of-footer .Part-1 h3 {

  text-align: center;
  padding: 0.5rem 0;


}

.footer-of-container .all-of-footer .Part-1 p {
  padding: 0.5rem ;
  text-align: center;

}

/* --(h3,p)end of.part-1---------------------------------------------------- */
.footer-of-container .all-of-footer .Part-2 {

  margin: 0.5rem auto;

}

.footer-of-container .all-of-footer .Part-2 h3 {
  text-align: center;
  padding: 0.5rem 0;

}

.footer-of-container .all-of-footer .Part-2 p {
  padding: 0.5rem ;
  text-align: center;
}

/* --(h3,p)end of.part-2----------------------------------------------- */
.footer-of-container .all-of-footer .Part-3 {

  margin: 0.5rem auto;

}

.footer-of-container .all-of-footer .Part-3 h3 {
  text-align: center;
  padding: 0.5rem 0;

}

.footer-of-container .all-of-footer .Part-3 p {
  padding: 0.5rem ;
  text-align: center;

}

/* ---(h3,p)end of.part-3-------------------------------------------- */

.footer-of-container .last-p {

  font-size: 1rem;


}

/* footer-of-container end ----------------------- */


}

/* ********************************************************* */

/* FOR DESKTOP */

@media only screen and (min-width: 992px){
    
  
.container {
 
  margin: 0 auto;
  background: #000000;
  overflow:hidden;
}

.header-of-container {

  margin: 0 auto;

}
.change-your-habits .heading p {
   width:90%;
   margin: 0 auto;
   
 
}
.change-your-habits
 .img-title-container {
   
  margin: 3rem;
}
.change-your-habits .card {

   margin:3rem;


}

.bmi-calculator
 .chart-container 
 .chart {
 
  margin: 3rem  3rem ;

}

.bmi-calculator 
.chart-container 
.chart td {
  padding: 1rem 1.5rem;
  text-align: center;
 

}


 .meet-our-team .identity-img {
  
  margin:3rem;

}
.meet-our-team 
.identity-img img {

  width: 100%;
 

}



/* ************************************************ */

/* footer-of-container start-------------------- */
.footer-of-container {
   padding:0.5rem;
 

}
.footer-of-container 
.all-of-footer .Part-1 h3 {
   
  padding: 1rem 0rem 1rem 3rem;
   

}

.footer-of-container 
.all-of-footer .Part-1 p {
  padding: 1rem 0rem 1rem 3rem;
   

}
.footer-of-container 
.all-of-footer .Part-2 h3 {
  font-size: 1.5rem;
  padding: 1rem 5rem 1rem 3rem;
  color: #fff;
}

.footer-of-container 
.all-of-footer .Part-2 p {
  padding: 1rem 0rem 1rem 3rem;
  color: rgb(255, 255, 255, 0.2);
  line-height: 1.5rem;
}
.footer-of-container 
.all-of-footer .Part-3 h3 {
 
  padding: 1rem 2rem 1rem 2rem;
  
}

.footer-of-container
 .all-of-footer .Part-3 p {
  padding: 1rem 2rem 1rem 2rem;
  
}

/* footer-of-container end ----------------------- */

}